<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doran.mapper.GpsMapper">

    <select id="getGps" resultType="com.doran.entity.Gps" parameterType="int">
        SELECT * FROM gps WHERE sailNum=#{sailNum};
    </select>
    
    <insert id="insertGps" parameterType="com.doran.entity.Gps">
    	INSERT INTO gps (siCode, gpsLat, gpsLng, gpsSpeed, gpsDir, sailNum)
		VALUES (#{siCode}, #{gpsLat}, #{gpsLng}, #{gpsSpeed}, #{gpsDir}, #{sailNum})    	
    </insert>
    
</mapper>
