<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.doran.mapper.SailMapper">

	<insert id="insert" parameterType="com.doran.entity.Sail" useGeneratedKeys="true" keyProperty="sailNum">
		INSERT INTO sail (sailNum, siCode, startSail, endSail, startLat, startLng, endLat, endLng)
		VALUES (#{sailNum}, #{siCode}, #{startSail}, #{endSail}, #{startLat}, #{startLng}, #{endLat}, #{endLng});
	</insert>
	
	<!-- 항해 등록을 위해(insert) 최대 sailNum을 가져오는 쿼리 -->
    <select id="getSailNum" parameterType="com.doran.entity.Sail" resultType="int">
        SELECT COALESCE(MAX(sailNum), 0) + 1
        FROM sail
        WHERE siCode = #{siCode}
    </select>

	<update id="comment" parameterType="com.doran.entity.Sail">
		update sail set
		comment=#{comment}
		where sailNum=#{sailNum} and siCode=#{siCode}
	</update>
	
	<select id="content" parameterType="com.doran.entity.Sail" resultType="com.doran.entity.Sail">
		select * from sail
		where sailNum=#{sailNum} and siCode=#{siCode}
	</select>
	
	<delete id="delete" parameterType="com.doran.entity.Sail">
		delete from sail
		where sailNum=#{sailNum} and siCode=#{siCode}
	</delete>
	
	<select id="sailList" parameterType="com.doran.entity.Sail" resultType="com.doran.entity.Sail">
		select * from sail
		where siCode=#{siCode}
	</select>
	
</mapper>